<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthor.core.counter.store.mysql.CounterMapper">

    <insert keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            id="getAndIncrement" parameterType="com.arthor.core.counter.store.CounterDO">
        INSERT INTO t_counter VALUES ();
    </insert>

</mapper>
