<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthor.core.env.store.mysql.EnvMapper">

    <sql id="fields" >
        id,
        name,
        description,
        host
    </sql>

    <select id="findById" parameterType="java.lang.Long"
            resultType="com.arthor.core.env.store.EnvDO">
        SELECT
        <include refid="fields" />
        FROM t_env
        where id = #{id}
    </select>

</mapper>
